html, body {
    margin: 0;
    overflow: hidden;
    background-color: #81d4fa;
}

canvas {
    position: absolute;
    top: 0;
    
    /* Prevent the user from dragging and dropping the images on canvas. */
    user-select: none;
}

#fg-canvas {
    z-index: 1;
}

#bg-canvas {
    z-index: 0;
}